# Supabase Configuration
EXPO_PUBLIC_SUPABASE_URL=https://fvukfkwsmeyojjppyjjv.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ2dWtma3dzbWV5b2pqcHB5amp2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgzNjI1NjQsImV4cCI6MjA5MzkzODU2NH0.SWj-v5h0-lfGRzSYy-HsMOlyo1dP-hac8-DPMWsII8o
